{% extends "base.html" %}

{% block styles %} 
<link rel="stylesheet" href="{{ url_for("static", filename = "css/sections/retos.css") }}">
{% endblock %}

{% block title %} {{ topic }} - retos {% endblock %}

{% block content %}
<div class="container" data-topic="{{ topic }}">
    {% if logged %}
   <button type="button" class="add-challenge-button" id="add-challenge">Lanzar Reto</button>
    {% else %}
   <button type="button" class="add-challenge-button" id="add-challenge-no-logged" onclick="window.location.href=`{{url_for('auth_client.login_page')}}`">Lanzar Reto</button>
    {% endif %}

   <div class="challenge-container">
        <!-- Hacer dinamico-->
      {% for challenge in challenges %}
      <div class="challenge" onclick="window.location.href=`{{ url_for('other.section_specific_content', topic=challenge.tema, section='retos', id=challenge.reto_Id) }}`">
          <h4 class="challenge-title">{{ challenge.titulo }}</h4>
          <p class="challenge-user">Usuario: {{ challenge.author }}</p>
          <p class="challenge-difficulty">Dificultad: {{ challenge.dificultad }}</p>
          <p class="challenge-date">Fecha: {{ challenge.created_at.strftime('%Y-%m-%d') }}</p>
       </div>
      {% endfor %}
   </div>
</div>

<div class="launch-challenge-container">
    <i class="fa-solid fa-x close-icon"></i>
    <form class="launch-challenge">
        <div class="input-container">
            <label for="titulo">Título</label>
            <input type="text" name="titulo" id="titulo" value="" data-titulo="">
        </div>
        <div class="input-container">
            <label for="descripcion">Descripción</label>
            <textarea name="descripcion" class="descripcion" id="descripcion"></textarea>
        </div>
        <div class="input-container">
            <label for="difucultad">Dificultad</label>
            <select name="dificultad" id="lv-dificultad">
                <option value="" disabled selected></option>
                <option value="facil">Fácil</option>
                <option value="intermedio">Intermedio</option>
                <option value="avanzado">Avanzado</option>
                <option value="extremo">Extremo</option>
            </select>
          </div>
        <div class="input-container">
            <button type="submit" class="save-changes">Lanzar reto</button>
        </div>
    </form>
 </div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for("static", filename = "js/sections/retos.js") }}"></script>
{% endblock %}