{% extends "base.html" %}

{% block styles %} 
<link rel="stylesheet" href="{{ url_for("static", filename = "css/content/example.css") }}">
{% endblock %}

{% block title %} {{ example.titulo }} {% endblock %}

{% block content %}
<div class="container" data-topic="{{ topic }}">
    <div class="example" data-example="{{ example.ejemplo_Id }}">
        {% if is_author %}
        <div class="options">
            <button type="button" id="editar">Editar</button>
            <button type="button" id="eliminar">Eliminar</button>
        </div>
        {% endif %}
        <div class="example-created">
            <p class="author">{{ example.author }}</p>
            <p class="date">{{ example.created_at.strftime('%Y-%m-%d') }}</p>
        </div>
        <h4>{{ example.titulo }}</h4>
        <p class="descripcion">{{ example.descripcion }}</p>
        <div class="codigo">
            <pre>
                <code class="language-{{topic}}">
                {{ example.codigo }}
                </code>
            </pre>
        </div>
    </div>
</div>
<div class="upload-example-container">
    <i class="fa-solid fa-x close-icon"></i>
    <form class="upload-example">
        <div class="input-container">
            <label for="titulo">Título</label>
            <input type="text" name="titulo" id="titulo" value="{{ example.titulo }}" data-titulo="{{ example.titulo }}">
        </div>
        <div class="input-container">
            <label for="descripcion">Descripción</label>
            <textarea name="descripcion" class="descripcion" id="descripcion" data-descripcion="{{ example.descripcion }}">{{ example.descripcion }}</textarea>
        </div>
        <div class="input-container">
            <label for="codigo">Código</label>
             <textarea name="codigo" id="codigo" data-codigo="{{ example.codigo }}">{{ example.codigo }}</textarea>
          </div>
        <div class="input-container">
            <button type="submit" class="save-changes">Actualizar ejemplo</button>
        </div>
    </form>
 </div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for("static", filename = "js/content/example.js") }}"></script>
{% endblock %}